* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {

}
.texto{
    display: flex;
    flex-direction: column;
    place-items: center;
    border: solid 1px;
   
    
}

p {
width: 300px;
height: 100%;
}

.jogo {
  border: solid 10px;
 

} 
 

.main{

    display: flex;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 200px;
    border: solid 1px red;
min-height: 100vh;

    
    height:500px;
    
}

body{
    display: grid;
    place-items: center;

}

td {
    border: solid red;
    font-size: 50px;
    text-align: center;
}